* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  padding: 20px;
}

main {
  display: flex;
  justify-content: space-between;
}

.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("images/stadium_background.webp");
  background-size: cover;
  background-position: center;
}

.form-player {
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45vh;
}

.form-player h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 5px;
}

#add-player-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#add-player-form label {
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

.Cards {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
  left: 50%;
  top: 6%;
  z-index: 1;
  transform: translate(-50%);
}

.CARDS {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
  left: 50%;
  top: 37%;
  z-index: 1;
  transform: translate(-50%);
}

#cardGardien {
  position: absolute;
  width: 110px;
  height: 150px;
  bottom: -160px;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  position: relative;
  height: 300px; 
  width: 100%;
}

#cardGardien img {
  position: absolute;
  width: 100%;

  left: 50%;
  transform: translate(-50%);
  height: auto;
  bottom: 0;
}

.card {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
  left: 50%;
  top: 65%;
  z-index: 1;
  transform: translate(-50%);
}

.fourth-card img,
.fifth-card img,
.sixth-card img {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seventh-card img,
.eighth-card img,
.ninth-card img,
.tenth-card img {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-player-form input,
#add-player-form select {
  font-size: 0.9rem;
  font-weight: 300;
  border-color: #28a745;
  border-radius: 8px;
  padding: 7px;
  margin-bottom: 8px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  margin-bottom: 0.2px;
}

.input-group label {
  width: 45%;
  font-size: 0.9rem;
}

.input-group input {
  width: 45%;
  font-size: 0.9rem;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#add-player-form input:focus,
#add-player-form select:focus {
  outline: none;
  border-color: #28a745;
  box-shadow: 0 0 5px #28a745;
}

.first-card img,
.second-card img,
.third-card img {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-player-form button {
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  padding: 10px;
  transition: transform 0.2s ease;
}

#add-player-form button:hover {
  background-color: #28a745;
  transform: scale(1.02);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .form-player {
    width: 100%;
    padding: 15px;
  }

  #add-player-form input,
  #add-player-form select,
  #add-player-form button {
    font-size: 0.9rem;
  }

  .input-group {
    flex-direction: column;
    gap: 10px;
  }

  .input-group label,
  .input-group input {
    width: 100%;
  }
}
